In [1]:
import glob
import pandas as pd

Combining all the csv files

In [2]:
path = r"D:\guvi\data\cardheko"
file_list = glob.glob(path + r"/*.csv")
csv_list = []
for file in file_list:
    csv_list.append(pd.read_csv(file))

In [3]:
df = pd.concat(csv_list, ignore_index=True)
df

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
8364,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8365,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8366,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8367,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8368,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [4]:
car_details = df['new_car_detail']
car_overview = df['new_car_overview']
car_feature = df['new_car_feature']
car_specs = df['new_car_specs']

Car Details

In [5]:
import ast
details_list = []
for i in car_details:
    res = ast.literal_eval(i)
    details_list.append(res)

In [6]:
details_list[0]

{'it': 0,
 'ft': 'Petrol',
 'bt': 'Hatchback',
 'km': '1,20,000',
 'transmission': 'Manual',
 'ownerNo': 3,
 'owner': '3rd Owner',
 'oem': 'Maruti',
 'model': 'Maruti Celerio',
 'modelYear': 2015,
 'centralVariantId': 3979,
 'variantName': 'VXI',
 'price': 'â‚¹ 4 Lakh',
 'priceActual': '',
 'priceSaving': '',
 'priceFixedText': None,
 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg',
  'heading': 'Trending Car!',
  'desc': 'High chances of sale in next 6 days'}}

In [7]:
columns = {'ignition_type': [], 'Fuel_Type': [],'body_type': [],'kms_driven': [],'transmission_type': [],'owner_No': [],'owner': [],
           'manufacturer':[],'model': [],'Manufacture_year':[],'variantName':[],'centralVariantId':[],'price':[],'priceActual': [],
           'priceSaving': [],'priceFixedText': []}
for dic in details_list:
    columns['ignition_type'].append(dic['it'])
    columns['Fuel_Type'].append(dic['ft'])
    columns['body_type'].append(dic['bt'])
    columns['kms_driven'].append(dic['km'])
    columns['transmission_type'].append(dic['transmission'])
    columns['owner_No'].append(dic['ownerNo'])
    columns['owner'].append(dic['owner'])
    columns['manufacturer'].append(dic['oem'])
    columns['model'].append(dic['model'])
    columns['Manufacture_year'].append(dic['modelYear'])
    columns['variantName'].append(dic['variantName'])
    columns['centralVariantId'].append(dic['centralVariantId'])
    columns['price'].append(dic['price'])
    columns['priceActual'].append(dic['priceActual'])
    columns['priceSaving'].append(dic['priceSaving'])
    columns['priceFixedText'].append(dic['priceFixedText'])

details_df = pd.DataFrame(columns)
details_df

,ignition_type,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,owner,manufacturer,model,Manufacture_year,variantName,centralVariantId,price,priceActual,priceSaving,priceFixedText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,VXI,3979,â‚¹ 4 Lakh,,,None
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,6087,â‚¹ 8.11 Lakh,,,None
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,1.2 Revotron XZ,2983,â‚¹ 5.85 Lakh,,,None
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,1867,â‚¹ 4.62 Lakh,,,None
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,4277,â‚¹ 7.90 Lakh,,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,ZXI BSVI,8682,â‚¹ 5.10 Lakh,,,None
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,LXI,3943,â‚¹ 1.80 Lakh,,,None
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,C 200 CGI Elegance,4672,â‚¹ 5.50 Lakh,,,None
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,ZXi,4144,â‚¹ 1.40 Lakh,,,None
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,110PS Diesel RxZ AWD,5048,â‚¹ 5 Lakh,,,None

Car overview

In [8]:
import ast
import pandas as pd

def car_overview(d, parent_key='', sep='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{sep}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(car_overview(value, new_key, sep).items()) 
        else:
            items.append((new_key, value))  
    return dict(items)

overview_data = []
for index, row in df.iterrows():
    try:
        unstructured_data = ast.literal_eval(row['new_car_overview'])
        overview_row = car_overview(unstructured_data)  
        overview_data.append(overview_row)
    
    except Exception as e:
        print(f"Error at index {index}: {e}") 

overview_df = pd.DataFrame(overview_data)
overview_df.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': 'Sept 2...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Dec 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None

In [9]:
def overview_dict(row):
    if isinstance(row, list):
        return {d['key']: d['value'] for d in row}
    return{}
df['new_car_overview'] = overview_df['top'].apply(overview_dict)
overview_df = pd.DataFrame(df['new_car_overview'].tolist())
overview_df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0
...,...,...,...,...,...,...,...,...,...,...
8364,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,998 cc,Manual,2022.0
8365,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",NaN,First Owner,796 cc,Manual,2014.0
8366,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011.0
8367,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,1197 cc,Manual,2012.0
8368,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",NaN,Second Owner,1461 cc,Manual,2017.0

Car feature

In [10]:
import ast
import pandas as pd
def feature_dict(row):
    feature_data = ast.literal_eval(row)
    features = [item['value'] for item in feature_data.get('top', [])]
    return features

df['features'] = df['new_car_feature'].apply(feature_dict)
features_df = df.explode('features')[['features']]
features_df.reset_index(drop=True, inplace=True)
features_df.head()

                 features
0          Power Steering
1     Power Windows Front
2         Air Conditioner
3                  Heater
4  Adjustable Head Lights

Car Specifications

In [11]:
import ast
import pandas as pd

def car_spec(d, parent_key='', sep='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{sep}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(car_spec(value, new_key, sep).items()) 
        else:
            items.append((new_key, value))  
    return dict(items)

spec_data = []
for index, row in df.iterrows():
    try:
        unstructured_data = ast.literal_eval(row['new_car_specs'])
        spec_row = car_spec(unstructured_data)  
        spec_data.append(spec_row)
    
    except Exception as e:
        print(f"Error at index {index}: {e}") 

spec_df = pd.DataFrame(spec_data)
spec_df

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
...,...,...,...,...
8364,Specifications,"[{'key': 'Mileage', 'value': '25.24 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
8365,Specifications,"[{'key': 'Mileage', 'value': '22.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
8366,Specifications,"[{'key': 'Mileage', 'value': '11.74 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
8367,Specifications,"[{'key': 'Mileage', 'value': '18.5 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
8368,Specifications,"[{'key': 'Mileage', 'value': '19.72 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [12]:
def spec_dict(row):
    if isinstance(row,list):
        return {d['key']:d['value'] for d in row}
    return{}
df['new_car_specs'] = spec_df['top'].apply(spec_dict)
spec_df = pd.DataFrame(df['new_car_specs'].tolist())
spec_df

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
8364  25.24 kmpl   998 CC   65.71bhp      89Nm     5        NaN
8365  22.74 kmpl   796 CC    47.3bhp      69Nm     5        NaN
8366  11.74 kmpl  1796 CC     186bhp     285Nm     5         17
8367   18.5 kmpl  1197 CC   85.80bhp     114Nm     5         14
8368  19.72 kmpl  1461 CC  108.45bhp     245Nm     5         16

[8369 rows x 6 columns]

Dropping unwanted columns

In [13]:
details_df.drop(columns=['ignition_type','priceFixedText','priceSaving','owner','priceActual',
                         'centralVariantId','variantName'],inplace=True)

In [14]:
overview_df.drop(columns=['Fuel Type','Seats','Kms Driven','RTO','Ownership','Engine Displacement','Transmission',
                          'Year of Manufacture'],inplace=True)

In [15]:
spec_df.drop(columns=['Wheel Size'],inplace=True)

In [16]:
car_df = pd.concat([details_df,overview_df,spec_df],axis=1)

In [17]:
car_df

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,price,Registration Year,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,â‚¹ 4 Lakh,2015,Third Party insurance,23.1 kmpl,998 CC,67.04bhp,90Nm,5
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,â‚¹ 8.11 Lakh,Feb 2018,Comprehensive,17 kmpl,1497 CC,121.31bhp,150Nm,5
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,â‚¹ 5.85 Lakh,Sept 2018,Comprehensive,23.84 kmpl,1199 CC,84bhp,114Nm,5
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,â‚¹ 4.62 Lakh,Dec 2014,Comprehensive,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,â‚¹ 7.90 Lakh,2015,Third Party insurance,23.65 kmpl,1248 CC,88.5bhp,200Nm,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,"10,000",Manual,1,Maruti,Maruti Celerio,2022,â‚¹ 5.10 Lakh,2022,Third Party insurance,25.24 kmpl,998 CC,65.71bhp,89Nm,5
8365,Petrol,Hatchback,"1,20,000",Manual,1,Maruti,Maruti Alto 800,2014,â‚¹ 1.80 Lakh,2014,Third Party insurance,22.74 kmpl,796 CC,47.3bhp,69Nm,5
8366,Petrol,Sedan,"50,000",Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,â‚¹ 5.50 Lakh,2011,Third Party insurance,11.74 kmpl,1796 CC,186bhp,285Nm,5
8367,Petrol,Hatchback,"40,000",Manual,1,Maruti,Maruti Ritz,2012,â‚¹ 1.40 Lakh,2012,Third Party insurance,18.5 kmpl,1197 CC,85.80bhp,114Nm,5
8368,Diesel,SUV,"1,20,000",Manual,2,Renault,Renault Duster,2017,â‚¹ 5 Lakh,2017,Third Party insurance,19.72 kmpl,1461 CC,108.45bhp,245Nm,5

Converting columns to numerical

In [18]:
import pandas as pd
import re
def extract_numbers(text):
    numbers = re.findall(r'\d+\.?\d*', str(text))  
    return numbers[0] if numbers else None 
       
car_df['Mileage'] = car_df['Mileage'].apply(extract_numbers)
car_df['Engine'] =car_df['Engine'].apply(extract_numbers)
car_df['Max Power'] = car_df['Max Power'].apply(extract_numbers)
car_df['Torque'] = car_df['Torque'].apply(extract_numbers)

In [19]:
def price_convert(price):
    if pd.isna(price):
        return None    
    price = str(price).strip()      
    if 'Lakh' in price:
        return float(re.sub(r'[^\d.]', '', price)) * 100000
    elif 'Cr' in price:
        return float(re.sub(r'[^\d.]', '', price)) * 10000000
    else:
        cleaned_price = re.sub(r'[^\d.]', '', price)
        return float(cleaned_price) if cleaned_price else None
car_df['price'] = car_df['price'].apply(price_convert)

Handling the missing values

In [20]:
car_df.loc[car_df['model'] == 'Maruti Gypsy', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'MG Gloster', 'Seats'] = '6 Seats'
car_df.loc[car_df['model'] == 'Maruti 800', 'Seats'] = '4 Seats'
car_df.loc[car_df['model'] == 'Mahindra e2o Plus', 'Seats'] = '4 Seats'
car_df.loc[car_df['model'] == 'Maruti Omni', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'Toyota Qualis', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'Ford Endeavour', 'Seats'] = '7 Seats'
car_df.loc[car_df['model'] == 'Mahindra XUV700', 'Seats'] = '7 Seats'
car_df.loc[car_df['model'] == 'Maruti Gypsy', 'Engine'] = '1298 '
car_df.loc[car_df['model'] == 'Mahindra e2o Plus', 'Engine'] = '72 '
car_df.loc[car_df['model'] == 'Mercedes-Benz C-Class', 'Engine'] = '1496'

Droping null values

In [21]:
car_df.dropna(inplace=True)

In [22]:
car_df.isnull().sum()

Fuel_Type             0
body_type             0
kms_driven            0
transmission_type     0
owner_No              0
manufacturer          0
model                 0
Manufacture_year      0
price                 0
Registration Year     0
Insurance Validity    0
Mileage               0
Engine                0
Max Power             0
Torque                0
Seats                 0
dtype: int64

Romeving string values

In [23]:
car_df['Registration Year'] = car_df['Registration Year'].str.extract(r'(\d+)').astype(int)
car_df['Seats'] = car_df['Seats'].str.extract(r'(\d+)').astype(int)
car_df['kms_driven']=car_df['kms_driven'].str.replace(',','')

Encoding the columns

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

car_df['Fuel_Type'] = le.fit_transform(car_df['Fuel_Type'])
car_df['body_type'] = le.fit_transform(car_df['body_type'])
car_df['transmission_type'] = le.fit_transform(car_df['transmission_type'])
car_df['manufacturer'] = le.fit_transform(car_df['manufacturer'])
car_df['model'] = le.fit_transform(car_df['model'])
car_df['Insurance Validity'] = le.fit_transform(car_df['Insurance Validity'])

In [25]:
car_df

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,price,Registration Year,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
0,4,3,120000,1,3,20,142,2015,400000.0,2015,5,23.1,998,67.04,90,5
1,4,8,32706,1,2,6,47,2018,811000.0,2018,2,17,1497,121.31,150,5
2,4,3,11949,1,1,29,242,2018,585000.0,2018,2,23.84,1199,84,114,5
3,4,9,17794,1,1,9,81,2014,462000.0,2014,2,19.1,1197,81.86,113.75,5
4,1,8,60000,1,1,20,157,2015,790000.0,2015,5,23.65,1248,88.5,200,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,4,3,10000,1,1,20,142,2022,510000.0,2022,5,25.24,998,65.71,89,5
8365,4,3,120000,1,1,20,137,2014,180000.0,2014,5,22.74,796,47.3,69,5
8366,4,9,50000,0,3,21,171,2011,550000.0,2011,5,11.74,1496,186,285,5
8367,4,3,40000,1,1,20,154,2012,140000.0,2012,5,18.5,1197,85.80,114,5
8368,1,8,120000,1,2,27,208,2017,500000.0,2017,5,19.72,1461,108.45,245,5

In [26]:
car_df.to_csv('final_cars_data.csv',index=False)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

Linear Regression Model

In [29]:
x = car_df.drop(['price'],axis=1)
y = car_df['price']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)


LR=LinearRegression()
LR.fit(x_train,y_train)

train_pred=LR.predict(x_train)
test_pred=LR.predict(x_test)

In [30]:
print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.6478337842119395
MAE : 343018.9603483459
MSE : 478636648005.8551
RMSE : 691835.708825336
**********Test data********
R2 score: 0.7093089821620764
MAE : 336102.5048982996
MSE : 365310593728.0525
RMSE : 604409.2932178099

Random Forest Model

In [31]:

RM = RandomForestRegressor()
RM.fit(x_train,y_train)

train_pred=RM.predict(x_train)
test_pred=RM.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.978714691610615
MAE : 52899.302812932605
MSE : 28929318607.31762
RMSE : 170086.20933902203
**********Test data********
R2 score: 0.8296935780788322
MAE : 135043.7502828373
MSE : 214023606819.56207
RMSE : 462626.85484044487

Decision Tree Model

In [32]:
DT_model =  DecisionTreeRegressor()
DT_model.fit(x_train,y_train)

train_pred = DT_model.predict(x_train)
test_pred = DT_model.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.9998631074689812
MAE : 1757.9191413983538
MSE : 186053571.42857143
RMSE : 13640.145579449343
**********Test data********
R2 score: 0.7952412544228435
MAE : 171741.25354166664
MSE : 257319746148.83954
RMSE : 507266.9377643683