In [1]:
import glob
import pandas as pd

# Combining all the csv files

In [2]:
path = r"D:\guvi\data\cardheko"
file_list = glob.glob(path + r"/*.csv")
csv_list = []
for file in file_list:
    csv_list.append(pd.read_csv(file))

In [3]:
df = pd.concat(csv_list, ignore_index=True)
df

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
8364,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8365,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8366,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8367,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
8368,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [4]:
car_details = df['new_car_detail']
car_overview = df['new_car_overview']
car_feature = df['new_car_feature']
car_specs = df['new_car_specs']

# Car Details

In [5]:
import ast
details_list = []
for i in car_details:
    res = ast.literal_eval(i)
    details_list.append(res)

In [6]:
details_list[0]

{'it': 0,
 'ft': 'Petrol',
 'bt': 'Hatchback',
 'km': '1,20,000',
 'transmission': 'Manual',
 'ownerNo': 3,
 'owner': '3rd Owner',
 'oem': 'Maruti',
 'model': 'Maruti Celerio',
 'modelYear': 2015,
 'centralVariantId': 3979,
 'variantName': 'VXI',
 'price': 'â‚¹ 4 Lakh',
 'priceActual': '',
 'priceSaving': '',
 'priceFixedText': None,
 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg',
  'heading': 'Trending Car!',
  'desc': 'High chances of sale in next 6 days'}}

In [7]:
columns = {'ignition_type': [], 'Fuel_Type': [],'body_type': [],'kms_driven': [],'transmission_type': [],'owner_No': [],'owner': [],
           'manufacturer':[],'model': [],'Manufacture_year':[],'variantName':[],'centralVariantId':[],'price':[],'priceActual': [],
           'priceSaving': [],'priceFixedText': []}
for dic in details_list:
    columns['ignition_type'].append(dic['it'])
    columns['Fuel_Type'].append(dic['ft'])
    columns['body_type'].append(dic['bt'])
    columns['kms_driven'].append(dic['km'])
    columns['transmission_type'].append(dic['transmission'])
    columns['owner_No'].append(dic['ownerNo'])
    columns['owner'].append(dic['owner'])
    columns['manufacturer'].append(dic['oem'])
    columns['model'].append(dic['model'])
    columns['Manufacture_year'].append(dic['modelYear'])
    columns['variantName'].append(dic['variantName'])
    columns['centralVariantId'].append(dic['centralVariantId'])
    columns['price'].append(dic['price'])
    columns['priceActual'].append(dic['priceActual'])
    columns['priceSaving'].append(dic['priceSaving'])
    columns['priceFixedText'].append(dic['priceFixedText'])

details_df = pd.DataFrame(columns)
details_df.head()

,ignition_type,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,owner,manufacturer,model,Manufacture_year,variantName,centralVariantId,price,priceActual,priceSaving,priceFixedText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,VXI,3979,â‚¹ 4 Lakh,,,None
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,1.5 Petrol Titanium BSIV,6087,â‚¹ 8.11 Lakh,,,None
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,1.2 Revotron XZ,2983,â‚¹ 5.85 Lakh,,,None
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1.2 Kappa S Option,1867,â‚¹ 4.62 Lakh,,,None
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,DDiS 200 Zeta,4277,â‚¹ 7.90 Lakh,,,None

# Car overview

In [8]:
import ast
import pandas as pd

def car_overview(d, parent_key='', sep='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{sep}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(car_overview(value, new_key, sep).items()) 
        else:
            items.append((new_key, value))  
    return dict(items)

overview_data = []
for index, row in df.iterrows():
    try:
        unstructured_data = ast.literal_eval(row['new_car_overview'])
        overview_row = car_overview(unstructured_data)  
        overview_data.append(overview_row)
    
    except Exception as e:
        print(f"Error at index {index}: {e}") 

overview_df = pd.DataFrame(overview_data)
overview_df.head()

        heading                                                top bottomData
0  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None
1  Car overview  [{'key': 'Registration Year', 'value': 'Feb 20...       None
2  Car overview  [{'key': 'Registration Year', 'value': 'Sept 2...       None
3  Car overview  [{'key': 'Registration Year', 'value': 'Dec 20...       None
4  Car overview  [{'key': 'Registration Year', 'value': '2015',...       None

In [9]:
def overview_dict(row):
    if isinstance(row, list):
        return {d['key']: d['value'] for d in row}
    return{}
df['new_car_overview'] = overview_df['top'].apply(overview_dict)
overview_df = pd.DataFrame(df['new_car_overview'].tolist())
overview_df.head()

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0

# Car feature

In [10]:
import ast
import pandas as pd
def feature_dict(row):
    feature_data = ast.literal_eval(row)
    features = [item['value'] for item in feature_data.get('top', [])]
    return features

df['features'] = df['new_car_feature'].apply(feature_dict)
features_df = df.explode('features')[['features']]
features_df.reset_index(drop=True, inplace=True)
features_df.head()

                 features
0          Power Steering
1     Power Windows Front
2         Air Conditioner
3                  Heater
4  Adjustable Head Lights

# Car Specifications

In [11]:
import ast
import pandas as pd

def car_spec(d, parent_key='', sep='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{sep}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(car_spec(value, new_key, sep).items()) 
        else:
            items.append((new_key, value))  
    return dict(items)

spec_data = []
for index, row in df.iterrows():
    try:
        unstructured_data = ast.literal_eval(row['new_car_specs'])
        spec_row = car_spec(unstructured_data)  
        spec_data.append(spec_row)
    
    except Exception as e:
        print(f"Error at index {index}: {e}") 

spec_df = pd.DataFrame(spec_data)
spec_df.head()

,heading,top,data,commonIcon
0,Specifications,"[{'key': 'Mileage', 'value': '23.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
1,Specifications,"[{'key': 'Mileage', 'value': '17 kmpl'}, {'key...","[{'heading': 'Engine and Transmission', 'subHe...",
2,Specifications,"[{'key': 'Mileage', 'value': '23.84 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",
3,Specifications,"[{'key': 'Mileage', 'value': '19.1 kmpl'}, {'k...","[{'heading': 'Engine and Transmission', 'subHe...",
4,Specifications,"[{'key': 'Mileage', 'value': '23.65 kmpl'}, {'...","[{'heading': 'Engine and Transmission', 'subHe...",

In [12]:
def spec_dict(row):
    if isinstance(row,list):
        return {d['key']:d['value'] for d in row}
    return{}
df['new_car_specs'] = spec_df['top'].apply(spec_dict)
spec_df = pd.DataFrame(df['new_car_specs'].tolist())
spec_df

         Mileage   Engine  Max Power    Torque Seats Wheel Size
0      23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1        17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2     23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3      19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14
4     23.65 kmpl  1248 CC    88.5bhp     200Nm     5         16
...          ...      ...        ...       ...   ...        ...
8364  25.24 kmpl   998 CC   65.71bhp      89Nm     5        NaN
8365  22.74 kmpl   796 CC    47.3bhp      69Nm     5        NaN
8366  11.74 kmpl  1796 CC     186bhp     285Nm     5         17
8367   18.5 kmpl  1197 CC   85.80bhp     114Nm     5         14
8368  19.72 kmpl  1461 CC  108.45bhp     245Nm     5         16

[8369 rows x 6 columns]

# Dropping unwanted columns

In [13]:
details_df.drop(columns=['ignition_type','priceFixedText','priceSaving','owner','priceActual',
                         'centralVariantId','variantName'],inplace=True)

In [14]:
overview_df.drop(columns=['Fuel Type','Registration Year','Seats','Kms Driven','RTO','Ownership','Engine Displacement','Transmission',
                          'Year of Manufacture'],inplace=True)

In [15]:
spec_df.drop(columns=['Wheel Size'],inplace=True)

In [16]:
car_df = pd.concat([details_df,overview_df,spec_df],axis=1)

# Handling the missing values

In [17]:
car_df.loc[car_df['model'] == 'Maruti Gypsy', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'MG Gloster', 'Seats'] = '6 Seats'
car_df.loc[car_df['model'] == 'Maruti 800', 'Seats'] = '4 Seats'
car_df.loc[car_df['model'] == 'Mahindra e2o Plus', 'Seats'] = '4 Seats'
car_df.loc[car_df['model'] == 'Maruti Omni', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'Toyota Qualis', 'Seats'] = '8 Seats'
car_df.loc[car_df['model'] == 'Ford Endeavour', 'Seats'] = '7 Seats'
car_df.loc[car_df['model'] == 'Mahindra XUV700', 'Seats'] = '7 Seats'
car_df.loc[car_df['model'] == 'Maruti Gypsy', 'Engine'] = '1298'
car_df.loc[car_df['model'] == 'Mahindra e2o Plus', 'Engine'] = '72'
car_df.loc[car_df['model'] == 'Mercedes-Benz C-Class', 'Engine'] = '1496'

In [18]:
car_df

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,price,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,â‚¹ 4 Lakh,Third Party insurance,23.1 kmpl,998 CC,67.04bhp,90Nm,5
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,â‚¹ 8.11 Lakh,Comprehensive,17 kmpl,1497 CC,121.31bhp,150Nm,5
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,â‚¹ 5.85 Lakh,Comprehensive,23.84 kmpl,1199 CC,84bhp,114Nm,5
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,â‚¹ 4.62 Lakh,Comprehensive,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,â‚¹ 7.90 Lakh,Third Party insurance,23.65 kmpl,1248 CC,88.5bhp,200Nm,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,"10,000",Manual,1,Maruti,Maruti Celerio,2022,â‚¹ 5.10 Lakh,Third Party insurance,25.24 kmpl,998 CC,65.71bhp,89Nm,5
8365,Petrol,Hatchback,"1,20,000",Manual,1,Maruti,Maruti Alto 800,2014,â‚¹ 1.80 Lakh,Third Party insurance,22.74 kmpl,796 CC,47.3bhp,69Nm,5
8366,Petrol,Sedan,"50,000",Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,â‚¹ 5.50 Lakh,Third Party insurance,11.74 kmpl,1496,186bhp,285Nm,5
8367,Petrol,Hatchback,"40,000",Manual,1,Maruti,Maruti Ritz,2012,â‚¹ 1.40 Lakh,Third Party insurance,18.5 kmpl,1197 CC,85.80bhp,114Nm,5
8368,Diesel,SUV,"1,20,000",Manual,2,Renault,Renault Duster,2017,â‚¹ 5 Lakh,Third Party insurance,19.72 kmpl,1461 CC,108.45bhp,245Nm,5

# Converting string to numerical

In [19]:
import pandas as pd
import re
def extract_numbers(text):
    numbers = re.findall(r'\d+\.?\d*', str(text))  
    return numbers[0] if numbers else None 
       
car_df['Mileage'] = car_df['Mileage'].apply(extract_numbers).astype(float)
car_df['Engine'] =car_df['Engine'].apply(extract_numbers).astype(float)
car_df['Max Power'] = car_df['Max Power'].apply(extract_numbers).astype(float)
car_df['Torque'] = car_df['Torque'].apply(extract_numbers).astype(float)

In [20]:
def price_convert(price):
    if pd.isna(price):
        return None    
    price = str(price).strip()      
    if 'Lakh' in price:
        return float(re.sub(r'[^\d.]', '', price)) * 100000
    elif 'Cr' in price:
        return float(re.sub(r'[^\d.]', '', price)) * 10000000
    else:
        cleaned_price = re.sub(r'[^\d.]', '', price)
        return float(cleaned_price) if cleaned_price else None
car_df['price'] = car_df['price'].apply(price_convert)

# Droping null values

In [21]:
car_df.dropna(inplace=True)

In [22]:
car_df.isnull().sum()

Fuel_Type             0
body_type             0
kms_driven            0
transmission_type     0
owner_No              0
manufacturer          0
model                 0
Manufacture_year      0
price                 0
Insurance Validity    0
Mileage               0
Engine                0
Max Power             0
Torque                0
Seats                 0
dtype: int64

# Removing string values

In [23]:
car_df['Seats'] = car_df['Seats'].str.extract(r'(\d+)').astype(int)
car_df['kms_driven']=car_df['kms_driven'].str.replace(',','').astype(float)

In [24]:
car_df

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,price,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
0,Petrol,Hatchback,120000.0,Manual,3,Maruti,Maruti Celerio,2015,400000.0,Third Party insurance,23.10,998.0,67.04,90.00,5
1,Petrol,SUV,32706.0,Manual,2,Ford,Ford Ecosport,2018,811000.0,Comprehensive,17.00,1497.0,121.31,150.00,5
2,Petrol,Hatchback,11949.0,Manual,1,Tata,Tata Tiago,2018,585000.0,Comprehensive,23.84,1199.0,84.00,114.00,5
3,Petrol,Sedan,17794.0,Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,Comprehensive,19.10,1197.0,81.86,113.75,5
4,Diesel,SUV,60000.0,Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,Third Party insurance,23.65,1248.0,88.50,200.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,10000.0,Manual,1,Maruti,Maruti Celerio,2022,510000.0,Third Party insurance,25.24,998.0,65.71,89.00,5
8365,Petrol,Hatchback,120000.0,Manual,1,Maruti,Maruti Alto 800,2014,180000.0,Third Party insurance,22.74,796.0,47.30,69.00,5
8366,Petrol,Sedan,50000.0,Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,550000.0,Third Party insurance,11.74,1496.0,186.00,285.00,5
8367,Petrol,Hatchback,40000.0,Manual,1,Maruti,Maruti Ritz,2012,140000.0,Third Party insurance,18.50,1197.0,85.80,114.00,5
8368,Diesel,SUV,120000.0,Manual,2,Renault,Renault Duster,2017,500000.0,Third Party insurance,19.72,1461.0,108.45,245.00,5

In [25]:
car_df.to_csv('car_data.csv',index = False)

In [26]:
car_df['manufacturer'].unique()

array(['Maruti', 'Ford', 'Tata', 'Hyundai', 'Jeep', 'Datsun', 'Honda',
       'Mahindra', 'BMW', 'Renault', 'Mercedes-Benz', 'Audi', 'Toyota',
       'Mini', 'Kia', 'Skoda', 'Volkswagen', 'Volvo', 'MG', 'Nissan',
       'Fiat', 'Mahindra Ssangyong', 'Mitsubishi', 'Jaguar', 'Land Rover',
       'Chevrolet', 'Citroen', 'Opel', 'Mahindra Renault', 'Isuzu',
       'Lexus', 'Porsche', 'Hindustan Motors'], dtype=object)

# Encoding the columns

In [27]:
from sklearn.preprocessing import LabelEncoder
import pickle

# Create individual encoders
le_fuel = LabelEncoder()
le_body = LabelEncoder()
le_transmission = LabelEncoder()
le_manufacturer = LabelEncoder()
le_model = LabelEncoder()
le_insurance = LabelEncoder()

In [28]:
car_df['Fuel_Type'] = le_fuel.fit_transform(car_df['Fuel_Type'])
car_df['body_type'] = le_body.fit_transform(car_df['body_type'])
car_df['transmission_type'] = le_transmission.fit_transform(car_df['transmission_type'])
car_df['manufacturer'] = le_manufacturer.fit_transform(car_df['manufacturer'])
car_df['model'] = le_model.fit_transform(car_df['model'])
car_df['Insurance Validity'] = le_insurance.fit_transform(car_df['Insurance Validity'])

In [29]:
with open('le_fuel.pkl', 'wb') as f:
    pickle.dump(le_fuel, f)

with open('le_body.pkl', 'wb') as f:
    pickle.dump(le_body, f)

with open('le_transmission.pkl', 'wb') as f:
    pickle.dump(le_transmission, f)

with open('le_manufacturer.pkl', 'wb') as f:
    pickle.dump(le_manufacturer, f)

with open('le_model.pkl', 'wb') as f:
    pickle.dump(le_model, f)

with open('le_insurance.pkl', 'wb') as f:
    pickle.dump(le_insurance, f)

In [30]:
car_df.to_csv('cars_data_final.csv',index=False)

In [31]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8039 entries, 0 to 8368
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fuel_Type           8039 non-null   int64
 1   body_type           8039 non-null   int64
 2   kms_driven          8039 non-null   float64
 3   transmission_type   8039 non-null   int64
 4   owner_No            8039 non-null   int64
 5   manufacturer        8039 non-null   int64
 6   model               8039 non-null   int64
 7   Manufacture_year    8039 non-null   int64
 8   price               8039 non-null   float64
 9   Insurance Validity  8039 non-null   int64
 10  Mileage             8039 non-null   float64
 11  Engine              8039 non-null   float64
 12  Max Power           8039 non-null   float64
 13  Torque              8039 non-null   float64
 14  Seats               8039 non-null   int64
dtypes: float64(6), int64(9)
memory usage: 1004.9 KB

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn import metrics
import numpy as np

# Linear Regression Model

In [33]:
x = car_df.drop(['price'],axis=1)
y = car_df['price']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)


lr=LinearRegression()
lr.fit(x_train,y_train)

train_pred = lr.predict(x_train)
test_pred = lr.predict(x_test)

In [34]:
len(x_train),len(x_test)

(6431, 1608)

In [35]:
print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.6493292375914819
MAE : 349678.8806174679
MSE : 492645689224.2553
RMSE : 701887.233980114
**********Test data********
R2 score: 0.6800544151781773
MAE : 336017.51671624905
MSE : 361151010391.4308
RMSE : 600958.409868296

# Random Forest Model

In [36]:

rf= RandomForestRegressor()
rf.fit(x_train,y_train)

train_pred = rf.predict(x_train)
test_pred = rf.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.9786646132975428
MAE : 52693.625998232324
MSE : 29973375067.560883
RMSE : 173128.2041365903
**********Test data********
R2 score: 0.9028211773587163
MAE : 137112.157133973
MSE : 109694371951.07509
RMSE : 331201.4069279826

# Decision Tree Model

In [37]:
dt_model =  DecisionTreeRegressor()
dt_model.fit(x_train,y_train)

train_pred = dt_model.predict(x_train)
test_pred = dt_model.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.9998716796248859
MAE : 1849.4531695433575
MSE : 180273026.4862904
RMSE : 13426.57910587393
**********Test data********
R2 score: 0.83725705390226
MAE : 184927.8041044776
MSE : 183702423804.3746
RMSE : 428605.2073929744

# xgb booster model

In [38]:
xgb_model = XGBRegressor()
xgb_model.fit(x_train,y_train)

train_pred = xgb_model.predict(x_train)
test_pred = xgb_model.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

*********Train data*******
R2 score: 0.9946374985827154
MAE : 62506.04517182398
MSE : 7533599860.277399
RMSE : 86796.31248087328
**********Test data********
R2 score: 0.9106451171355278
MAE : 133510.9321143307
MSE : 100862795927.88744
RMSE : 317589.0362211634

In [39]:
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV

xgbr = xgb.XGBRegressor(objective='reg:squarederror', random_state=42)

param_grid = {
    'n_estimators': [100, 300, 500, 700],
    'max_depth': [3, 5, 7, 10],
    'learning_rate': [0.01, 0.05, 0.1, 0.3],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'gamma': [0, 1, 5],
    'reg_alpha': [0, 0.1, 1],
    'reg_lambda': [1, 1.5, 2]
}

random_model = RandomizedSearchCV(
    estimator=xgbr,
    param_distributions=param_grid,
    n_iter=50,
    scoring='r2',
    cv=5,
    verbose=2,
    n_jobs=-1,
    random_state=42
)

random_model.fit(x_train, y_train)
best_model = random_model.best_estimator_
train_pred = best_model.predict(x_train)
test_pred = best_model.predict(x_test)

print('*********Train data*******')
print('R2 score:',metrics.r2_score(y_train, train_pred ))
print("MAE :",metrics.mean_absolute_error(y_train,train_pred ))
print("MSE :",metrics.mean_squared_error(y_train,train_pred ))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_train,train_pred )))

print('**********Test data********')
print('R2 score:',metrics.r2_score(y_test,test_pred))
print("MAE :",metrics.mean_absolute_error(y_test,test_pred))
print("MSE :",metrics.mean_squared_error(y_test,test_pred))
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test,test_pred)))

Fitting 5 folds for each of 50 candidates, totalling 250 fits
*********Train data*******
R2 score: 0.9947825171846767
MAE : 62901.96628938443
MSE : 7329868050.351661
RMSE : 85614.6485734285
**********Test data********
R2 score: 0.918137519757397
MAE : 125786.09478000621
MSE : 92405455350.25644
RMSE : 303982.65633133816

#  trained model prediction

In [40]:
x_train.head(1)

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
957,4,8,10000.0,1,2,13,100,2021,5,18.2,998.0,118.36,172.0,5

In [41]:
input_data = pd.DataFrame(
    [[4,  8,  10000.0,	1,	2,	13,	100,	2021,	5,	18.2,	998.0,	118.36,	172.0,	5]],
    columns = ['Fuel_Type',	'body_type',	'kms_driven',	'transmission_type',	'owner_No',	'manufacturer',	'model',
               'Manufacture_year',	'Insurance Validity',	'Mileage',	'Engine',	'Max Power',	'Torque', 'Seats',] )

In [42]:
input_data

,Fuel_Type,body_type,kms_driven,transmission_type,owner_No,manufacturer,model,Manufacture_year,Insurance Validity,Mileage,Engine,Max Power,Torque,Seats
0,4,8,10000.0,1,2,13,100,2021,5,18.2,998.0,118.36,172.0,5

In [43]:
best_model.predict(input_data)

array([1065642.1], dtype=float32)

In [44]:
with open('car_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)